@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  display: grid;
  grid-template-columns:
    [full-width-start] minmax(1rem, 1fr) [content-start]repeat(12, 70px)
    [content-end]minmax(1rem, 1fr) [full-width-end];
  grid-template-rows: min-content min-content min-content;

  column-gap: 15px;
}
.main-nav__item-text {
  text-shadow: 1px 1px 0 #ff6f61;
  z-index: 2;
}

.carrousel__button--previous {
  transform: translate(-50%, -50%);
}

.carrousel__button--next {
  transform: translate(50%, -50%);
  transition: all 0.3s ease-out;
}

.carrousel__button--previous:hover,
.carrousel__button--next:hover {
  background-color: #ff6f61;
  border-color: #ff6f61;
}
.carrousel__button--previous:hover svg,
.carrousel__button--next:hover svg {
  stroke: white;
}
